<launch>
    <node name="PelicanCtrl" pkg="PelicanCtrl" type="PelicanCtrl" clear_params="true" output="screen" >
	      
	      <rosparam file="$(find PelicanCtrl)/launch/PelicanCtrl_parameters.yaml" />

<!--	        <remap to="vel_cmd" from="/fcu/control" />-->
          <!--  <remap from="fixedPose" to="/PelicanCtrl/fixedPose" /> -->
          
 
    </node>
</launch>

